body{
    min-width:1160px;
 }

video, input {
    display: block;
}

input {
    width: 100%;       
}

.global-affect {
    border: 1px solid black;
    font-size: small;
  }

.center {
    text-align: center;
}

#rater_notes {
    resize: none;
    width: 90%;
}


.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
}
